:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
  }
  
  .root {
    background-color: yellowgreen;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .header {
      background-color: purple;
    }
  
    .content {
      padding: 5px;
      display: flex;
      flex-direction: row;
      flex: 1;
  
      .full-width-content {
        width: 100%;
      }
  
      .right-side-bar {
        width: 100px;
        background-color: royalblue;
        position: relative;
  
        .wrapper {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: 5px;
          background: blueviolet;
        }
      }
    }
  }
  